html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	background-color: #808080;
	font-family: "Montserrat", "Avenir";
	height: 100%;

}

h1 {
	color: white;
	text-align: center;
	background-color: #03a678;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.2;
	padding: 12px 0;
}

h1 span {
	display: block;
}

#pickedColor {
	font-size: 200%;
}

.container {
	max-width: 600px;
	margin: -1% auto;
}

.block {
	width: 25%;
	margin: -2% 1.66%;
	padding-bottom: 30%;
	border-radius: 10%;
	float: left;
	transform: rotate(40deg);
  	transform-origin: 0 100%;
  	border: 1px solid black;
  	transition: background 0.3s;
  	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
}

.mastermode {
	width: 20%;
	margin: -3% 1.66%;
	padding-bottom: 24%;
	border-radius: 10%;
	float: left;
	transform: rotate(40deg);
  	transform-origin: 0 100%;
  	border: 1px solid black;
  	transition: background 0.3s;
  	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background-color: #03a678;
	color: white;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #03a678;
	letter-spacing: 1px;
	font-size: inherit;
	outline: none;
}

#result {
	display: inline-block;
	width: 10%;
	margin-left: 6%;
}

button:hover {
	color: white;
	background-color: #03a678;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

@media screen and (max-width: 600px) {
	#pickedColor {
		font-size: 150%;
	}

	.mastermode {
		margin: -2% 1.66%;
		width: 19%;
		padding-bottom: 20%;
	}

	button {
		font-size: 10px;
	}

	#result {
	display: inline-block;
	width: 10%;
	font-size: 8.5px;
	}
}
